{:dependencies [[reagent                     "1.2.0"]
                [metosin/reitit              "0.6.0"]
                [re-frame                    "1.2.0"]]

 :source-paths ["src/front"
                "src/shared"
                "test/front"]

 :dev-http     {8000 "resources/public"
                8021 "out/test"}

 :builds       {:app  {:target        :browser
                       :output-dir    "resources/public/js"
                       :asset-path    "/js"
                       :modules       {:main  {:entries   [main]
                                               :init-fn   main/run}}}

                :test {:target    :browser-test
                       :test-dir  "out/test"}}}